{% extends "TroiswaFrontBundle::layout-front.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
    Tous les produits
{% endblock %}

{% block content %}
    <h1>Tous les produits</h1>
    
    <div class="row col-sm-8">
        {% for product in pagination %}

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
            {% if product.cover %}
                {% set imagepath = asset(product.cover.getWebPath('thumb-medium')) %}
                {% set imagealt = product.cover.alt %}
                <a href="{{ path('troiswa_front_product_show', {'idproduct': product.id}) }}">
                    <img src="{{ imagepath }}" alt="{{ imagealt }}">
                </a>
            {% else %}
                <img src="{{ asset('assets/images/default.png') }}" alt="default">
            {% endif %}

                <div class="caption">
                    <h4>
                        <a href="{{ path('troiswa_front_product_show', {'idproduct': product.id}) }}">{{ product.title }}</a>
                    </h4>
                    <h4 class="">{{ product.price | number_format(2, ',', '.') }} €</h4>
                    <h5>{{ product.marque.title }}</h5>
                    <p>{{ product.description }}</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}