{% extends 'TroiswaFrontBundle::layout-front.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}

    <div class="col-md-9">

        <div class="thumbnail">
            <img class="img-responsive" src="{{ asset(product.cover.getWebPath()) }}" alt="{{ product.cover.alt }}">
            <div class="caption-full">
                <h4 class="pull-right">{{ product.price | number_format(2, ',', '.') | price }}</h4>
                <h4><a href="#">{{ product.title }}</a></h4>
                <p>{{ product.description }}</p>
                <h4>Tags</h4>
                <p>
                    <ul>
                    {% for tag in product.tag %}
                        <li>{{ tag.word }}.</li>
                    {% endfor %}
                    </ul>
                </p>
                <p>
                <form method="POST" action="{{ path('troiswa_front_product_cartadd', {'idproduct': product.id}) }}">
                    <input type="number" name="quantity" value="1">
                    <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Ajouter</button>
                </form>
                </p>
            </div>

            {% if app.user %}
            <div class="row">
                <div class="col-md-4">
                    {{ form(form_comment) }}
                </div>
            </div>
            {% endif %}
            <!--div class="ratings">
                <p class="pull-right">3 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    4.0 stars
                </p>

            </div-->
        </div>

        <div class="well">
            <h4><span class="glyphicon glyphicon-comment"></span> Commentaire</h4>
            <hr>

            <!--div class="text-right">
                <a class="btn btn-success">Leave a Review</a>
            </div>

            <hr-->

        {% if comments | length > 0 %}

            {% for comment in comments %}

            <div class="row">
                <div class="col-md-12">
                    <!--span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span-->
                    {{ comment.rate }} / 5 (id => {{ comment.id }})
                    {{ comment.client.username }}
                    <span class="pull-right">Posté le {{ comment.created | date('d / m / Y') ~ " à " ~ comment.created | date('H:i') }}
                        {% if app.user %}
                            {% if app.user.username == comment.client.username %}
                                <a href="" class="btn btn-xs "><i class="glyphicon glyphicon-trash"></i></a>
                            {% endif %}
                        {% endif %}
                    </span>
                    <p>{{ comment.content }}</p>
                </div>
            </div>

            <hr>

            {% endfor %}

        {% else %}
            <p>Aucun commentaire pour ce produit</p>
        {% endif %}

        </div>



    </div>

{% endblock %}