{% extends 'TroiswaBackBundle::layout-admin.html.twig' %}

{% block title %}Fiche d'un utilisateur{% endblock %}

{% block h1 %}<i class="fa fa-user"></i> Fiche d'un utilisateur{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('troiswa_back_user_list') }}"><i class="fa fa-user"></i> Lister les utilisateurs</a>
    </li>
    <li class="active">
        <i class="fa fa-user"></i> Fiche d'un utilisateur
    </li>
{% endblock %}

{% block content -%}

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ entity.firstname }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ entity.lastname }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ entity.email }}</td>
                </tr>
                <tr>
                    <th>Birthday</th>
                    <td>{{ entity.birthday|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ entity.phone }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ entity.username }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ entity.address }}</td>
                </tr>
            </tbody>
        </table>

        <div class="col-lg-5">        
            <div class="panel panel-green">

                <div class="panel-heading">
                    <h3 class="panel-title">Ses coupons</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for coupon in coupons %}
                        {% if coupon.used %}
                            {% set used = "utilisé" %}
                        {% else %}
                            {% set used = "non-utilisé" %}
                        {% endif %}
                        <li class="list-group-item">
                            {{ coupon.coupon.code ~ " - " ~ coupon.coupon.detail }} ({{ used }})
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>

    </div>
    <div class="row">
        <a class="btn btn-success" href="{{ path('troiswa_back_user_edit', { 'id': entity.id }) }}">Editer</a>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ form_start(delete_form) }}
        {{ form_row(delete_form.submit, {attr: {class: 'btn btn-danger'}}) }}
        {{ form_end(delete_form) }}
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/remove.js') }}" type="text/javascript"></script>
{% endblock %}
