{% extends 'TroiswaBackBundle::layout-admin.html.twig' %}

{% block title %}Ajouter une marque{% endblock %}

{% block h1 %}<i class="fa fa-certificate"></i> Ajouter une marque{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{#{ path('troiswa_back_product_list') }#}"><i class="fa fa-certificate"></i> Lister les produits</a>
    </li>
    <li class="active">
        <i class="fa fa-certificate"></i> Ajouter une marque
    </li>
{% endblock %}

{% block content %}
    <div class="col-lg-8">
    {{ form_start(formMarque) }}

    {{ form_row(formMarque.title) }}
    {{ form_row(formMarque.description) }}
    {{ form_row(formMarque.products) }}

    {{ form_end(formMarque) }}
    </div>
{% endblock %}