{% extends 'TroiswaFrontBundle::layout-front.html.twig' %}

{% block title %}{{ category.titre }}{% endblock %}

{% block content %}
    <div class="col-md-9">


        <header class="jumbotron hero-spacer">
            <h1>{{ category.titre }}</h1>
            <p>{{ category.description }}</p>
        </header>


        <div class="row text-center">

            {% for product in category.products %}

                <div class="col-md-4 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <a href="{{ path('troiswa_front_product_show', {'idproduct': product.id}) }}">
                            <img src="{{ asset(product.cover.getWebPath('thumb-small')) }}" alt="{{ product.cover.alt }}">
                        </a>
                        <div class="caption">
                            <h4>
                                <a href="{{ path('troiswa_front_product_show', {'idproduct': product.id}) }}">{{ product.title }}</a>
                            </h4>

                            <p>{{ product.description }}</p>
                            <p>
                                <form method="POST" action="{{ path('troiswa_front_product_cartadd', {'idproduct': product.id}) }}">
                                    <input type="hidden" name="quantity" value="1">
                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Ajouter</button><!--a href="#" class="btn btn-primary">Acheter</a--> <a href="{{ path('troiswa_front_product_show', {'idproduct': product.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span> Plus d'info</a>
                                </form>
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}