{% extends "TroiswaBackBundle::layout-admin.html.twig" %}

{% block title %}Ajouter un produit{% endblock %}

{% block h1 %}
    <i class="fa fa-cube"></i> Ajouter un produit
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('troiswa_back_product_list') }}"><i class="fa fa-cube"></i> Lister les produits</a>
    </li>
    <li class="active">
        <i class="fa fa-cube"></i> Ajouter un produit
    </li>
{% endblock %}

{% block content %}
    {{ form_start(formProduct) }}
    
    {{ form_row(formProduct.title) }}
    {{ form_row(formProduct.cat) }}
    {{ form_row(formProduct.description) }}
    
    <div class="form-group">
        {{ form_label(formProduct.active) }}
        {{ form_errors(formProduct.active) }}
        {{ form_widget(formProduct.active, {
            attr: {
                class: ""
            }
        }) }}
    </div>
    
    {{ form_row(formProduct.quantity) }}
    {{ form_row(formProduct.price) }}

    {{ form_end(formProduct) }}
{%  endblock %}
