{% extends "TroiswaBackBundle::layout-admin.html.twig" %}

{% block title %}Editer un produit{% endblock %}

{% block h1 %}<i class="fa fa-cube"></i> Editer un produit{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ path('troiswa_back_product_list') }}"><i class="fa fa-cube"></i> Lister les produits</a>
    </li>
    <li>
        <a href="{{ path('troiswa_back_product_show', {"idproduct": idProduct}) }}"><i class="fa fa-cube"></i> Fiche produit</a>
    </li>
    <li class="active">
        <i class="fa fa-cube"></i> Editer un produit
    </li>
{% endblock %}

{% block content %}
    <div class="col-lg-8">
    {{ form_start(formProduct) }}
    
    {{ form_row(formProduct.title) }}
    {{ form_row(formProduct.cat) }}
    {{ form_row(formProduct.marque) }}
    {{ form_row(formProduct.description) }}
    {{ form_row(formProduct.active, {attr: {style: "width: auto;"}}) }}
    {{ form_row(formProduct.cover.fichier) }}
    {{ form_row(formProduct.quantity) }}
    {{ form_row(formProduct.price) }}
    
    {{ form_end(formProduct) }}
    </div>
{% endblock %}
