<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
{% set routeActive = app.request.attributes.get("_route") %}
{% set routes = ['troiswa_back_feedback', 'troiswa_back_contact'] %}
{% set productRoutes = ['troiswa_back_product_listlimite', 'troiswa_back_product_listactive', 'troiswa_back_product_list', 'troiswa_back_product_add', 'troiswa_back_product_show', "troiswa_back_product_edit"] %}
{% set categoryRoutes = ['troiswa_back_category_add', 'troiswa_back_category_list', 'troiswa_back_category_show', 'troiswa_back_category_edit'] %}
{% set marqueRoutes = ['troiswa_back_marque_add', 'troiswa_back_marque_list', 'troiswa_back_marque_show', 'troiswa_back_marque_edit'] %}
{% set userRoutes = ['troiswa_back_user_add', 'troiswa_back_user_list', 'troiswa_back_user_show', 'troiswa_back_user_edit'] %}
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li{% if routeActive == "troiswa_back_administration" %} class="active"{% endif %}>
            <a href="{{ path('troiswa_back_administration') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <!-- product -->
        <li{% if routeActive in productRoutes %} class="active"{% endif %}>
            <a href="javascript:;" data-toggle="collapse" data-target="#product"><i class="fa fa-fw fa-cube"></i> Produit <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="product" class="collapse nav navbar-nav{% if routeActive in productRoutes %} in{% endif %}">
                <li{% if routeActive == "troiswa_back_product_list" %} class="active"{% endif %}>
                    <a href="{{ path('troiswa_back_product_list') }}"><i class="fa fa-fw fa-cube"></i> Lister les produits</a>
                </li>
                <li{% if routeActive == "troiswa_back_product_listactive" %} class="active"{% endif %}>
                    <a href="{{ path('troiswa_back_product_listactive') }}"><i class="fa fa-fw fa-cube"></i> Lister les produits actifs</a>
                </li>
                <li{% if routeActive == "troiswa_back_product_listlimite" %} class="active"{% endif %}>
                    <a href="{{ path('troiswa_back_product_listlimite') }}"><i class="fa fa-fw fa-cube"></i> Lister les produits avec limite</a>
                </li>
                <li{% if routeActive == "troiswa_back_product_add" %} class="active"{% endif %}>
                    <a href="{{ path('troiswa_back_product_add') }}"><i class="fa fa-fw fa-cube"></i> Ajouter un produit</a>
                </li>
            </ul>
        </li>
        <!-- category -->
        <li{% if routeActive in categoryRoutes %} class="active"{% endif %}>
            <a href="javascript:;" data-toggle="collapse" data-target="#category"><i class="fa fa-fw fa-cubes"></i> Catégorie <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="category" class="collapse nav navbar-nav{% if routeActive in categoryRoutes %} in{% endif %}">
                <li{% if routeActive == "troiswa_back_category_list" %} class="active"{% endif %}>
                    <a href="{{ path('troiswa_back_category_list') }}"><i class="fa fa-fw fa-cubes"></i> Lister les catégories</a>
                </li>
                <li{% if routeActive == "troiswa_back_category_add" %} class="active"{% endif %}>
                    <a href="{{ path('troiswa_back_category_add') }}"><i class="fa fa-fw fa-cubes"></i> Ajouter une catégorie</a>
                </li>
                {#+++++++++ appel d'un rendu dans twig d'une vue +++++++++#}
                {{ render(controller('TroiswaBackBundle:Category:allCategory')) }}
            </ul>
        </li>
        <!-- marque -->
        <li{% if routeActive in marqueRoutes %} class="active"{% endif %}>
            <a href="javascript:;" data-toggle="collapse" data-target="#marque"><i class="fa fa-fw fa-certificate"></i> Marque <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="marque" class="collapse nav navbar-nav{% if routeActive in marqueRoutes %} in{% endif %}">
                <li{% if routeActive == "troiswa_back_marque_list" %} class="active"{% endif %}>
                    <a href="{{ path('troiswa_back_marque_list') }}"><i class="fa fa-fw fa-certificat"></i> Lister les marques</a>
                </li>
                <li{% if routeActive == "troiswa_back_marque_add" %} class="active"{% endif %}>
                    <a href="{{ path('troiswa_back_marque_add') }}"><i class="fa fa-fw fa-certificat"></i> Ajouter une marque</a>
                </li>
            </ul>
        </li>
        <!-- utilisateur -->

        <li{% if routeActive in userRoutes %} class="active"{% endif %}>
            <a href="javascript:;" data-toggle="collapse" data-target="#user"><i class="fa fa-fw fa-user"></i> Utilisateur <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="user" class="collapse nav navbar-nav{% if routeActive in userRoutes %} in{% endif %}">
                <li{% if routeActive == "troiswa_back_user_list" %} class="active"{% endif %}>
                    <a href="{{ path('troiswa_back_user_list') }}"><i class="fa fa-fw fa-user"></i> Lister les utilisateurs</a>
                </li>
                <li{% if routeActive == "troiswa_back_user_add" %} class="active"{% endif %}>
                    <a href="{{ path('troiswa_back_user_add') }}"><i class="fa fa-fw fa-user"></i> Ajouter un utilisateur</a>
                </li>
            </ul>
        </li>

        <!-- contact - feddback -->
        <li{% if routeActive in routes %} class="active"{% endif %}>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-phone-square"></i> Mail <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse nav navbar-nav{% if routeActive in routes %} in{% endif %}">
                <li{% if routeActive == "troiswa_back_feedback" %} class="active"{% endif %}>
                    <a href="{{ path('troiswa_back_feedback') }}"><i class="fa fa-fw fa-bug"></i> Feedback</a>
                </li>
                <li{% if routeActive == "troiswa_back_contact" %} class="active"{% endif %}>
                    <a href="{{ path('troiswa_back_contact') }}"><i class="fa fa-fw fa-phone"></i> Contact</a>
                </li>
                <!--li>
                    <a href="#">Dropdown Item</a>
                </li>
                <li>
                    <a href="#">Dropdown Item</a>
                </li-->
            </ul>
        </li>

        <li>
            <!--a href="{{ path('troiswa_back_contact') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Contact</a-->
        </li>
        <li>
            <!--a href="{{ path('troiswa_back_feedback') }}"><i class="fa fa-fw fa-table"></i> Feedback</a-->
        </li>
        <li>
            <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
        </li>
        <li>
            <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
        </li>

        
        <li>
            <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
        </li>
        <li>
            <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->